<footer class="site-footer">
  <div class="container">
    <p class="social">
      {% if site.social.github != "" %}<a href="https://github.com/{{ site.social.github }}">GitHub</a>{% endif %}
      {% if site.social.linkedin != "" %}<a href="https://www.linkedin.com/in/{{ site.social.linkedin }}">LinkedIn</a>{% endif %}
      {% if site.social.twitter != "" %}<a href="https://x.com/{{ site.social.twitter }}">X</a>{% endif %}
      {% if site.social.email != "" %}<a href="mailto:{{ site.social.email }}">Email</a>{% endif %}
      <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
    </p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </div>
</footer>
